{% load custom_filters %}
<div class="modal fade" id="Atrasados" tabindex="-1" aria-labelledby="AtrasadosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content bg-light">
        <div class="modal-header bg-light" style="border-bottom: #fb8306 solid; border-radius: 20px;">
          <h1 class="modal-title fs-5 mx-auto" id="AtrasadosLabel">Atrasadas</h1>
          <button type="button" style="background: transparent; border: 0;" data-bs-dismiss="modal" aria-label="Close"><span class="material-symbols-outlined" style="color:white">close</span></button>
        </div>
        <div class="modal-body bg-light">
          <table id="atrasados" class="table table-light">
            <thead>
              <tr>
                <th class="bg-secondary text-white tabela" scope="col">Item</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. Obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Descrição do insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Qt. solicitada</th>
                <th class="bg-secondary text-white tabela" scope="col">Data SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. chegada à obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Data PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. entrega</th>
                <th class="bg-secondary text-white tabela" scope="col">Quant. entregue</th>
                <th class="bg-secondary text-white tabela" scope="col">Saldo</th>
                <th class="bg-secondary text-white tabela" scope="col">Data NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Entrada na obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Data vencimento</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. final</th>
              </tr>
            </thead>
            <tbody id="body-atrasados">
              {% for atrasado in atrasados %}
              <tr class="atrasado">
                <th class="tabela" scope="row">{% if atrasado.item is not none %}{{atrasado.item}}{% endif %}</th>           
                <td class="tabela" scope="row">{% if atrasado.cod_sol_compra is not none %}{{atrasado.cod_sol_compra}}{% endif %}</td>   
                <td class="tabela" scope="row">{% if atrasado.cod_obra is not none %}{{atrasado.cod_obra}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.cod_insumo is not none %}{{atrasado.cod_insumo}}{% endif %}</td> 
                <td class="tabela" scope="row">{% if atrasado.desc_insumo is not none %}{{atrasado.desc_insumo}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.quant_sol is not none %}{{atrasado.quant_sol}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_sol is not none %}{{atrasado.data_sol|date:"d/m/Y"}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_sol_cheg_obra is not none %}{{atrasado.data_sol_cheg_obra|date:"d/m/Y"}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.num_ped_compra is not none %}{{atrasado.num_ped_compra}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_emissao_pc is not none %}{{atrasado.data_emissao_pc|date:"d/m/Y" }}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.prev_entrega is not none %}{{atrasado.prev_entrega|date:"d/m/Y"}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.quant_entregue is not none %}{{atrasado.quant_entregue}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.saldo is not none %}{{atrasado.saldo}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_NF is not none %}{{atrasado.data_NF|date:"d/m/Y"}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.cod_NF is not none %}{{atrasado.cod_NF}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_entrada_obra is not none %}{{atrasado.data_entrada_obra|date:"d/m/Y"}}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_vencimento is not none %}{{atrasado.data_vencimento|date:"d/m/Y"}}{% endif %}</td>  
                <td class="tabela" scope="row">{% if atrasado.data_prev_final is not none %}{{atrasado.data_prev_final|date:"d/m/Y" }}{% else %}{{atrasado.prev_entrega|date:"d/m/Y"}}{% endif %} </td>               
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <table id="atrasados-compra" style="display: none;" class="table table-light">
            <thead>
              <tr>
                <th class="bg-secondary text-white tabela" scope="col">Item</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. Obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Descrição do insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Qt. solicitada</th>
                <th class="bg-secondary text-white tabela" scope="col">Data SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. chegada à obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Data PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. entrega</th>
                <th class="bg-secondary text-white tabela" scope="col">Quant. entregue</th>
                <th class="bg-secondary text-white tabela" scope="col">Saldo</th>
                <th class="bg-secondary text-white tabela" scope="col">Data NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Entrada na obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Data vencimento</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. final</th>
              </tr>
            </thead>
          <tbody id="body-atrasados-compra">
            {% for atrasado in atrasados_compra %}
            <tr class="atrasado">
                <th class="tabela" scope="row">{% if atrasado.item is not none %}{{atrasado.item}}{% else %}{% endif %}</th>
                <td class="tabela" scope="row">{% if atrasado.cod_sol_compra is not none %}{{atrasado.cod_sol_compra}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.cod_obra is not none %}{{atrasado.cod_obra}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.cod_insumo is not none %}{{atrasado.cod_insumo}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.desc_insumo is not none %}{{atrasado.desc_insumo}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.quant_sol is not none %}{{atrasado.quant_sol}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_sol is not none %}{{atrasado.data_sol|date:"d/m/Y"}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_sol_cheg_obra is not none %}{{atrasado.data_sol_cheg_obra|date:"d/m/Y"}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.num_ped_compra is not none %}{{atrasado.num_ped_compra }}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_emissao_pc is not none %}{{atrasado.data_emissao_pc|date:"d/m/Y"}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.prev_entrega is not none %}{{atrasado.prev_entrega|date:"d/m/Y"}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.quant_entregue is not none %}{{atrasado.quant_entregue }}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.saldo is not none %}{{atrasado.saldo }}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_NF is not none %}{{atrasado.data_NF|date:"d/m/Y"}}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.cod_NF is not none %}{{atrasado.cod_NF }}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_entrada_obra is not none %}{{atrasado.data_entrada_obra|date:"d/m/Y" }}{% else %}{% endif %}</td>
                <td class="tabela" scope="row">{% if atrasado.data_vencimento is not none %}{{atrasado.data_vencimento|date:"d/m/Y"}}{% else %}{% endif %}</td>            
                <td class="tabela" scope="row">{% if atrasado.data_prev_final is not none %}{{atrasado.data_prev_final|date:"d/m/Y" }}{% else %}{{atrasado.prev_entrega|date:"d/m/Y"}}{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="modal-footer" style="border-top: #fb8306 solid; border-radius: 20px;">
          <div id="pagination-buttons-atraso" class="pagination-buttons mx-auto">
            <button type="button" class="btn btn-stanza" id="btn-first-atraso">Primeira</button>
            <button type="button" class="btn btn-stanza" id="btn-previous-atraso">Anterior</button>
            <span id="page-indicator-atraso"></span>
            <button type="button" class="btn btn-stanza" id="btn-next-atraso">Próxima</button>
            <button type="button" class="btn btn-stanza" id="btn-last-atraso">Última</button>
          </div>
          <div id="pagination-buttons-atraso-compra" style="display: none;" class="pagination-buttons mx-auto">
            <button type="button" class="btn btn-stanza" id="btn-first-atraso-compra">Primeira</button>
            <button type="button" class="btn btn-stanza" id="btn-previous-atraso-compra">Anterior</button>
            <span id="page-indicator-atraso-compra"></span>
            <button type="button" class="btn btn-stanza" id="btn-next-atraso-compra">Próxima</button>
            <button type="button" class="btn btn-stanza" id="btn-last-atraso-compra">Última</button>
          </div>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>  