<div class="modal fade" id="detalhamento" tabindex="-1" aria-labelledby="detalhamentoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centergb(220,53,69) modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content bg-light">
      <div class="modal-header justify-content-center d-flex" style="border-bottom: #fb8306 solid; border-radius: 20px;">
        <h1 class="modal-title fs-5 justify-content-center d-flex" id="detalhamentoLabel" >Detalhamento</h1>
        <button type="button" style="background: transparent;border: 0;right: 0;position: absolute;" data-bs-dismiss="modal" aria-label="Close"><span class="material-symbols-outlined" style="color:black">close</span></button>
      </div>
      <div class="modal-body bg-light">
          <div class="mx-auto mt-3">
          <table class="table" style="border: 1px black dotted; background: rgb(230, 230, 230);">
            <thead>
            <tr>
              <th class="bg-secondary text-white tabela" scope="col">Item</th>
              <th class="bg-secondary text-white tabela" scope="col">Nº SC</th>
              <th class="bg-secondary text-white tabela" scope="col">Cód. Obra</th>
              <th class="bg-secondary text-white tabela" scope="col">Cód. insumo</th>
              <th class="bg-secondary text-white tabela" scope="col">Descrição do insumo</th>
              <th class="bg-secondary text-white tabela" scope="col">Qt. solicitada</th>
              <th class="bg-secondary text-white tabela" scope="col">Data SC</th>
              <th class="bg-secondary text-white tabela" scope="col">Prev. chegada à obra</th>
              <th class="bg-secondary text-white tabela" scope="col">Nº PC</th>
              <th class="bg-secondary text-white tabela" scope="col">Data PC</th>
              <th class="bg-secondary text-white tabela" scope="col">Prev. entrega</th>
              <th class="bg-secondary text-white tabela" scope="col">Quant. entregue</th>
              <th class="bg-secondary text-white tabela" scope="col">Saldo</th>
              <th class="bg-secondary text-white tabela" scope="col">Data NF</th>
              <th class="bg-secondary text-white tabela" scope="col">Nº NF</th>
              <th class="bg-secondary text-white tabela" scope="col">Entrada na obra</th>
              <th class="bg-secondary text-white tabela" scope="col">Data vencimento</th>
              <th class="bg-secondary text-white tabela" scope="col">Prev. final</th>
            </tr>
          </thead>
          <tbody id="body-detalhamento">
            {% for objeto in objetos %}
            <tr>
              <th class="tabela" scope="row">{% if objeto.item is not none %}{{objeto.item}}{% else %}{% endif %}</th>              
              <td class="tabela" scope="row">{% if objeto.cod_sol_compra is not none %}{{objeto.cod_sol_compra }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.cod_obra is not none %}{{objeto.cod_obra }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.cod_insumo is not none %}{{objeto.cod_insumo }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.desc_insumo is not none %}{{objeto.desc_insumo }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.quant_sol is not none %}{{objeto.quant_sol }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.data_sol is not none %}{{objeto.data_sol|date:"d/m/Y" }}{% else %}{% endif %}</td>              
              <td class="tabela" scope="row">{% if objeto.data_sol_cheg_obra is not none %}{{objeto.data_sol_cheg_obra|date:"d/m/Y" }}{% else %}{% endif %}</td>              
              <td class="tabela" scope="row">{% if objeto.num_ped_compra is not none %}{{objeto.num_ped_compra }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.data_emissao_pc is not none %}{{objeto.data_emissao_pc|date:"d/m/Y" }}{% else %}{% endif %}</td>              
              <td class="tabela" scope="row">{% if objeto.prev_entrega is not none %}{{objeto.prev_entrega|date:"d/m/Y" }}{% else %}{% endif %}</td>              
              <td class="tabela" scope="row">{% if objeto.quant_entregue is not none %}{{objeto.quant_entregue }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.saldo is not none %}{{objeto.saldo }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.data_NF is not none %}{{objeto.data_NF|date:"d/m/Y" }}{% else %}{% endif %}</td>              
              <td class="tabela" scope="row">{% if objeto.cod_NF is not none %}{{objeto.cod_NF }}{% else %}{% endif %}</td>             
              <td class="tabela" scope="row">{% if objeto.data_entrada_obra is not none %}{{objeto.data_entrada_obra|date:"d/m/Y" }}{% else %}{% endif %}</td>
              <td class="tabela" scope="row">{% if objeto.data_vencimento is not none %}{{objeto.data_vencimento|date:"d/m/Y" }}{% else %}{% endif %}</td>         
              <td class="tabela" scope="row">{% if objeto.data_prev_final is not none %}{{objeto.data_prev_final|date:"d/m/Y" }}{% else %}{{objeto.prev_entrega|date:"d/m/Y"}}{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    <div class="modal-footer" style="border-top: #fb8306 solid; border-radius: 20px;">
      <div id="pagination-buttons-detalhamento" class="pagination-buttons mx-auto">
        <button type="button" class="btn btn-stanza" id="btn-first-detalhamento">Primeira</button>
        <button type="button" class="btn btn-stanza" id="btn-previous-detalhamento">Anterior</button>
        <span id="page-indicator-detalhamento"></span>
        <button type="button" class="btn btn-stanza" id="btn-next-detalhamento">Próxima</button>
        <button type="button" class="btn btn-stanza" id="btn-last-detalhamento">Última</button>
      </div>
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
    </div>
  </div>
  </div>
</div>

<script>
  function paginateDetalhamento() {
    document.addEventListener('DOMContentLoaded', function () {
      var tabledetalhamento = document.getElementById('body-detalhamento');
      var pageIndicatordetalhamento = document.getElementById('page-indicator-detalhamento');
      var currentPagedetalhamento = 1;
      var rowsPerPagedetalhamento = 200;
  
      function updateTabledetalhamento() {
        
        var start = (currentPagedetalhamento - 1) * rowsPerPagedetalhamento;
        var end = start + rowsPerPagedetalhamento;
  
        for (var i = 0; i < tabledetalhamento.rows.length; i++) {
          tabledetalhamento.rows[i].style.display = 'none';
        }
  
        for (var i = start; i < end && i < tabledetalhamento.rows.length; i++) {
          tabledetalhamento.rows[i].style.display = '';
        }
  
        pageIndicatordetalhamento.textContent = 'Página ' + currentPagedetalhamento;
      }
  
      function goToPagedetalhamento(page) {
        if (page >= 1 && page <= Math.ceil(tabledetalhamento.rows.length / rowsPerPagedetalhamento)) {
          currentPagedetalhamento = page;
          updateTabledetalhamento();
        }
      }
  
      function goToFirstPagedetalhamento() {
        goToPagedetalhamento(1);
      }
  
      function goToLastPagedetalhamento() {
        goToPagedetalhamento(Math.ceil(tabledetalhamento.rows.length / rowsPerPagedetalhamento));
      }
  
      function goToPreviousPagedetalhamento() {
        goToPagedetalhamento(currentPagedetalhamento - 1);
      }
  
      function goToNextPagedetalhamento() {
        goToPagedetalhamento(currentPagedetalhamento + 1);
      }
  
      document.getElementById('btn-first-detalhamento').addEventListener('click', goToFirstPagedetalhamento);
      document.getElementById('btn-last-detalhamento').addEventListener('click', goToLastPagedetalhamento);
      document.getElementById('btn-previous-detalhamento').addEventListener('click', goToPreviousPagedetalhamento);
      document.getElementById('btn-next-detalhamento').addEventListener('click', goToNextPagedetalhamento);
  
      updateTabledetalhamento();
    });
}
  paginateDetalhamento()
</script>