<footer style="width: 100%;">
    <section class="footer" id="footer">
              <div class="container col-2 footer-container" style="text-align: center;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, -50%);">
                    <p class="footer-text " style="margin: 0; ">Desenvolvido por TI</p>
                    <p class="footer-text " style="margin: 0; ">E-mail: suporte@stanza.com.br</p>
                  </div>     
    </section>
  </footer>
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
  <style>
    .btn-outline-stanza {
        --bs-btn-color: #fb8306;
        --bs-btn-border-color: #fb8306;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #fb8306;
        --bs-btn-hover-border-color: #fb8306;
        --bs-btn-focus-shadow-rgb: 25,135,84;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #fb8306;
        --bs-btn-active-border-color: #fb8306;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fb8306;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #fb8306;
        --bs-gradient: none;
    }
    .btn-stanza{
    --bs-btn-color: #fff;
    --bs-btn-bg: #fb8306;
    --bs-btn-border-color: #fb8306;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fb9325;
    --bs-btn-hover-border-color: #b36512;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b36512;
    --bs-btn-active-border-color: #b36512;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fb8306;
    --bs-btn-disabled-border-color: #fb8306;
    }

    .btn-roxo {
      --bs-btn-color: #fff;
    --bs-btn-bg: #6e52bf;
    --bs-btn-border-color: #6e52bf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7c51ff;
    --bs-btn-hover-border-color: #5330bb;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5231b4;
    --bs-btn-active-border-color: #42298f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6e52bf;
    --bs-btn-disabled-border-color: #6e52bf;

    }
    .btn-rosa {
      --bs-btn-color: #fff;
    --bs-btn-bg: #df304e;
    --bs-btn-border-color: #df304e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e75e74;
    --bs-btn-hover-border-color: #f7677f;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b5374c;
    --bs-btn-active-border-color: #e84c66;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #df304e;
    --bs-btn-disabled-border-color: #df304e;

    }
    
    .nav-link, .dropdown-item{
      color: white !important;
    }

    .btn-outline-roxo{
      --bs-btn-color: #6e52bf;
        --bs-btn-border-color: #6e52bf;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #6e52bf;
        --bs-btn-hover-border-color: #6e52bf;
        --bs-btn-focus-shadow-rgb: 25,135,84;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #6e52bf;
        --bs-btn-active-border-color: #6e52bf;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #6e52bf;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #6e52bf;
        --bs-gradient: none;
    }

    .navdrop {
      color: #6e52bf !important;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    .navdrop:hover {
      background-color: #6e52bf;
      color: white !important;
    }


    .dropdown-item.filter:hover{
      background-color: #ffffff;
      color: black !important;
    }
    
    .popover-body{
      color: #6e52bf;
      height: 25px;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .title-page {
  color: transparent;
  background-image: url('https://th.bing.com/th/id/OIP.v9ddKErMJpTRiebR8kFXIAHaFS?pid=ImgDet&rs=1');
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
        background-color: #f7f7f7;
        background-image: radial-gradient(
          circle,
          #ddd 1px,
          transparent 1px
        );
        background-size: 10px 10px;
        background-position: 0 0, 5px 5px;
      }


    .dropdown-menu.user.show {
    left: -300%!important;
  }
    </style>