    <section class="footer d-flex justify-content-center col-3 footer-container mx-auto mt-3" style="text-align: center;" id="footer">
              <div id="footerContent">
                    <p class="footer-text " style="margin: 0; ">Desenvolvido por TI</p>
                    <p class="footer-text " style="margin: 0; ">E-mail: suporte@stanza.com.br</p>
                  </div>     
    </section>
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
  </style>