<section id="header">
     <!-- Modal Insumos-->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog bg-dark">
        <div class="modal-content bg-dark">
          <div class="modal-header bg-dark mb-3" style="border-bottom: #fb8306 solid; border-radius: 20px;">
            <h1 class="modal-title fs-5 mx-auto" style="color:#fb8306;" id="exampleModalLabel">Adicionar Insumo</h1>
          </div>
          <div class="modal-body bg-dark">
            <form id='novoInsumo' method="POST" action="{% url 'insumos' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-group mb-3" style="justify-content: center;">                            
                <div class="form-group"style="width:80%; " >
                  
                  <div class="input-group mb-3">
                    <span class="input-group-text material-symbols-outlined" id="basic-addon1">123</span>
                    <input  type="number" required name="codigo_insumo" class="form-control" placeholder="Código do Insumo" aria-label="Código do Insumo" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text material-symbols-outlined" id="basic-addon1">abc</span>
                    <input type="text" name="nome_do_insumo" class="form-control" placeholder="Descrição do Insumo" aria-label="Descrição do Insumo" aria-describedby="basic-addon1" >
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text material-symbols-outlined" id="basic-addon1">123</span>
                    <input type="number" name="qtd_dias" class="form-control" placeholder="Quantidade de dias" aria-label="Quantidade de dias" aria-describedby="basic-addon1" >   
                  </div>
                </div>
              </div>
              <div class="modal-footer bg-dark" style="border-top: #fb8306 solid; border-radius: 20px;">
                <div class="dropdown">
                  <button style="width: 90%; margin-right: 55px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Insumos cadastrados
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="dropdownMenuButton2">
                    <li>
                      <table class="table table-dark dropdown-item">
                          {% for insumo in insumos %}
                          <tr style="border-color: black;">
                            <th scope="row" style="font-size: 12px;">{{insumo.codigo_insumo}}</th>
                            <td> {{insumo.nome_do_insumo}} </td>
                            <td> {{insumo.qtd_dias}} dias </td>
                          </tr>
                          {% endfor %}
                      </table>
                    </li>
                  </ul>
                </div>
                <button id="salvarInsumo"class="btn btn-outline-stanza" type="submit">Salvar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid position-relative">
          <a class="navbar-brand" style="margin-right: 10%;" href="/index">Stanza</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/index">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Suprimentos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/upload-page-obras">Analisar SC</a></li>
                      <li><a class="dropdown-item" href="#">Outro</a></li>
                      <li><a class="dropdown-item" href="#">Outro</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      RH
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/upload-page-rh">Analise de VT</a></li>
                      <li><a class="dropdown-item" href="#">Outro</a></li>
                      <li><a class="dropdown-item" href="#">Outro</a></li>
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Outro</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">P</button>
                </form>
              </div>
            </div>
          </nav>
        </section>
