
<div class="modal fade" id="Indeterminados" tabindex="-1" aria-labelledby="IndeterminadosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content bg-light">
        <div class="modal-header bg-light" style="border-bottom: #fb8306 solid; border-radius: 20px;">
          <h1 class="modal-title fs-5 mx-auto" id="IndeterminadosLabel">Indeterminadas</h1>
          <button type="button" style="background: transparent; border: 0;" data-bs-dismiss="modal" aria-label="Close"><span class="material-symbols-outlined" style="color:white">close</span></button>
        </div>
        <div class="modal-body bg-light">
          <table class="table table-light" id="tabela-Indeterminados">
            <thead>
              <tr>
                <th class="bg-secondary text-white tabela" scope="col">Item</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. Obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Descrição do insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Qt. solicitada</th>
                <th class="bg-secondary text-white tabela" scope="col">Data SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. chegada à obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Data PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. entrega</th>
                <th class="bg-secondary text-white tabela" scope="col">Quant. entregue</th>
                <th class="bg-secondary text-white tabela" scope="col">Saldo</th>
                <th class="bg-secondary text-white tabela" scope="col">Data NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Entrada na obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Data vencimento</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. final</th>
              </tr>
            </thead>
            <tbody>
            {% with sliced_data=indeterminados|slice:"24:1360" %}
              {% for indeterminado in sliced_data %}
              <tr>
                {% if indeterminado.item is not none %}
                <th class="tabela" scope="row">{{indeterminado.item}}</th>
                {% else %}
                  <th></th>
                {% endif %}
                {% if indeterminado.cod_sol_compra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_sol_compra }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.cod_obra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_obra }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.cod_insumo is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_insumo }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.desc_insumo is not none %}
                  <td class="tabela" scope="row">{{indeterminado.desc_insumo }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.quant_sol is not none %}
                  <td class="tabela" scope="row">{{indeterminado.quant_sol }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_sol is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_sol|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_sol_cheg_obra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_sol_cheg_obra|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.num_ped_compra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.num_ped_compra }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_emissao_pc is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_emissao_pc|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.prev_entrega is not none %}
                  <td class="tabela" scope="row">{{indeterminado.prev_entrega|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.quant_entregue is not none %}
                  <td class="tabela" scope="row">{{indeterminado.quant_entregue }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.saldo is not none %}
                  <td class="tabela" scope="row">{{indeterminado.saldo }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_NF is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_NF|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.cod_NF is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_NF }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_entrada_obra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_entrada_obra|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_vencimento is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_vencimento|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_prev_final is not none %}
                <td class="tabela" scope="row">{{indeterminado.data_prev_final|date:"d/m/Y" }}</td>
                {% else %}
                  {% if indeterminado.prev_entrega is not none %}
                    <td class="tabela" scope="row">{{indeterminado.prev_entrega|date:"d/m/Y"}}</td>
                  {% else %}
                  <td class="tabela" scope="row"></td>
                  {% endif %} 
                {% endif %} 
              </tr>
            {% endfor %}
            {% endwith %}
            </tbody>
          </table>
          <table class="table table-light" style="display: none;" id="tabela-IndeterminadosCompra">
            <thead>
              <tr>
                <th class="bg-secondary text-white tabela" scope="col">Item</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. Obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Cód. insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Descrição do insumo</th>
                <th class="bg-secondary text-white tabela" scope="col">Qt. solicitada</th>
                <th class="bg-secondary text-white tabela" scope="col">Data SC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. chegada à obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Data PC</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. entrega</th>
                <th class="bg-secondary text-white tabela" scope="col">Quant. entregue</th>
                <th class="bg-secondary text-white tabela" scope="col">Saldo</th>
                <th class="bg-secondary text-white tabela" scope="col">Data NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Nº NF</th>
                <th class="bg-secondary text-white tabela" scope="col">Entrada na obra</th>
                <th class="bg-secondary text-white tabela" scope="col">Data vencimento</th>
                <th class="bg-secondary text-white tabela" scope="col">Prev. final</th>
              </tr>
            </thead>
            <tbody>
            {% with sliced_data=indeterminados|slice:"24:1360" %}
              {% for indeterminado in sliced_data %}
              <tr>
                {% if indeterminado.item is not none %}
                <th class="tabela" scope="row">{{indeterminado.item}}</th>
                {% else %}
                  <th></th>
                {% endif %}
                {% if indeterminado.cod_sol_compra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_sol_compra }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.cod_obra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_obra }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.cod_insumo is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_insumo }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.desc_insumo is not none %}
                  <td class="tabela" scope="row">{{indeterminado.desc_insumo }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.quant_sol is not none %}
                  <td class="tabela" scope="row">{{indeterminado.quant_sol }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_sol is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_sol|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_sol_cheg_obra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_sol_cheg_obra|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.num_ped_compra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.num_ped_compra }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_emissao_pc is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_emissao_pc|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.prev_entrega is not none %}
                  <td class="tabela" scope="row">{{indeterminado.prev_entrega|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.quant_entregue is not none %}
                  <td class="tabela" scope="row">{{indeterminado.quant_entregue }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.saldo is not none %}
                  <td class="tabela" scope="row">{{indeterminado.saldo }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_NF is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_NF|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.cod_NF is not none %}
                  <td class="tabela" scope="row">{{indeterminado.cod_NF }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_entrada_obra is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_entrada_obra|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_vencimento is not none %}
                  <td class="tabela" scope="row">{{indeterminado.data_vencimento|date:"d/m/Y" }}</td>
                {% else %}
                  <td class="tabela" scope="row"></td>
                {% endif %}
                {% if indeterminado.data_prev_final is not none %}
                <td class="tabela" scope="row">{{indeterminado.data_prev_final|date:"d/m/Y" }}</td>
                {% else %}
                  {% if indeterminado.prev_entrega is not none %}
                    <td class="tabela" scope="row">{{indeterminado.prev_entrega|date:"d/m/Y"}}</td>
                  {% else %}
                  <td class="tabela" scope="row"></td>
                  {% endif %} 
                {% endif %} 
              </tr>
            {% endfor %}
            {% endwith %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer" style="border-top: #fb8306 solid; border-radius: 20px;">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>  