{% load custom_filters %}
<div class="modal fade" id="NoPrazo" tabindex="-1" aria-labelledby="NoPrazoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 text-white" id="NoPrazoLabel">Entregues no Prazo</h1>
          <button type="button" style="background: transparent; border: 0;" data-bs-dismiss="modal" aria-label="Close"><span class="material-symbols-outlined" style="color:white">close</span></button>
        </div>
        <div class="modal-body bg-dark">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Item</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Nº SC</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Cód. Obra</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Cód. insumo</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Descrição do insumo</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Qt. solicitada</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Data SC</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Prev. chegada à obra</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Nº PC</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Data PC</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Prev. entrega</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Quant. entregue</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Saldo</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Data NF</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Nº NF</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Entrada na obra</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Data vencimento</th>
                <th scope="col" style="font-size: 12px;border: 1px white dotted;">Prev. final</th>
              </tr>
            </thead>
            <tbody>
              {% for entregue in entregues %}
              <tr>
                {% if entregue.item is not none %}
                  <th scope="row" style="border: 1px white dotted;">{{entregue.item}}</th>
                {% else %}
                  <th></th>
                {% endif %}
                {% if entregue.cod_sol_compra is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.cod_sol_compra }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.cod_obra is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.cod_obra }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.cod_insumo is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.cod_insumo }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.desc_insumo is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.desc_insumo }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.quant_sol is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.quant_sol }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.data_sol is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_sol|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.data_sol_cheg_obra is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_sol_cheg_obra|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.num_ped_compra is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.num_ped_compra }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.data_emissao_pc is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_emissao_pc|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.prev_entrega is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.prev_entrega|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.quant_entregue is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.quant_entregue }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.saldo is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.saldo }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.data_NF is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_NF|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.cod_NF is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.cod_NF }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.data_entrada_obra is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_entrada_obra|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %}
                {% if entregue.data_vencimento is not none %}
                  <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_vencimento|date:"d/m/Y" }}</td>
                {% else %}
                  <td style="font-size: 11px;border: 1px white dotted;"></td>
                {% endif %} 
                {% if entregue.data_prev_final is not none %}
                <td style="font-size: 11px;border: 1px white dotted;">{{entregue.data_prev_final|date:"d/m/Y" }}</td>
                {% else %}
                  {% if entregue.prev_entrega is not none %}
                    <td style="font-size: 11px;border: 1px white dotted;">{{entregue.prev_entrega|date:"d/m/Y"}}</td>
                  {% else %}
                    <td style="font-size: 11px;border: 1px white dotted;"></td>
                  {% endif %} 
                {% endif %} 
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>